/* General styling */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    background: rgb(236, 236, 236);
    width: 100vw;
    height: 100vh;
}

/* Navbar */

nav{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 3px 10px;
    background: rgb(28, 49, 71);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(236, 236, 236);
    font-size: 16px;
    text-decoration: none;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

nav ul li button{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 5px;
    background: none;
    border: none;
    color: rgb(214, 214, 214);
    font-size: 14px;
    position: relative;
    transition: .5s;
}

nav ul li button::before,
nav ul li button::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    background-color: rgb(236, 236, 236);
    transition: .5s;
}

nav ul li button::before{
    left:0;
    bottom: -1px;
}

nav ul li button::after{
    right:0;
    top: 0px;
}

nav ul li button:hover{
    color: rgb(236, 236, 236);
}

nav ul li button:hover::before,
nav ul li button:hover::after{
    width: 100%;
}

/* Footer */

footer{
    width: 100%;
    background: rgb(28, 49, 71);
    height: 20px;
    position: absolute;
    bottom: 0;
}