/* General styling */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    background: rgb(251,254,250);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.expense-income-btn{
    position: relative;
    border: none;
    background: none;
    font-weight: 500;
    padding: 5px;
    cursor: pointer;
}

.expense-income-btn::after{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    transform: scaleX(0);
    transition: .5s;
}

.expense-income-btn:hover::after{
    transform: scaleX(1);
}

/* Navbar */

nav{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 3px 10px;
    background: rgb(28, 49, 71);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(251,254,250);
    font-size: 16px;
    text-decoration: none;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

nav ul li button{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 5px;
    background: none;
    border: none;
    color: rgb(214, 214, 214);
    font-size: 14px;
    position: relative;
    transition: .5s;
}

nav ul li button::before,
nav ul li button::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    background-color: rgb(251,254,250);
    transition: .5s;
}

nav ul li button::before{
    left:0;
    bottom: -1px;
}

nav ul li button::after{
    right:0;
    top: 0px;
}

nav ul li button:hover{
    color: rgb(251,254,250);
}

nav ul li button:hover::before,
nav ul li button:hover::after{
    width: 100%;
}

/* Sections */

section{
    padding: 30px 0 25px 0;
    width: 100%;
    height: 100%;
}

/* Balance */

#balance{
    display: flex;
    flex-flow: column;
    min-height: 0;
}

#balance .pie-chart{
    width: 100%;
    height: 250px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#balance .pie-chart .container{
    width: 97%;
    height: 100%;
    background: white;
    box-shadow: 
        rgba(0, 0, 0, 0.07) 0px 1px 2px,
        rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px,
        rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#balance .pie-chart .container .pie-chart-result{
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    background: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#balance .pie-chart .container .pie-chart-result p{
    position: relative;
    left: 5px;
}

#balance .pie-chart .container .pie-chart-result p:before{
    content:"$";
    position: absolute;
    top: 0;
    left: -13px;
}
#balance .pie-chart .container .pie-chart-result :nth-child(2):before{
    content:"- $";
    left: -23px;
}

#balance .pie-chart .container .pie-chart-result hr{
    border: none;
    width: 77%;
    background: black;
    height: 1px;

}

#balance .pie-chart .container svg{
    height: 200px;
    width: 200px;
}

#balance .pie-chart .container .toggle-buttons{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 10px 20px;
}

#balance .pie-chart .container .toggle-buttons button{
    text-transform: uppercase;
}

#balance .pie-chart-info{
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}

#balance .pie-chart-info .percentage-element{
    border-radius: 4px;
    margin: 3px 0;
    padding: 15px 10px;
    background: white;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 
        rgba(0, 0, 0, 0.07) 0px 1px 2px,
        rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px,
        rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

#balance .pie-chart-info .percentage-element i{
    font-size: 30px;
    margin-right: 10px;
}

#balance .pie-chart-info .percentage-element p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

#balance .pie-chart-info .percentage-element .amount{
    margin-left: auto;
    margin-right: 10px;
}

/* Footer */

footer{
    width: 100%;
    background: rgb(28, 49, 71);
    height: 20px;
    position: absolute;
    bottom: 0px;
}