.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
.tutorial-step{
    position: relative;
    z-index: 100!important;
}