.tutorial-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
.tutorial-step{
    position: relative;
    z-index: 100!important;
}

.modal{
    position: absolute;
    z-index: 10000;
    width: 200px;
    height: auto;
    background: white;
    border: 5px;
    box-shadow: 0 3px 30px rgb(33 33 33 / 30%);
}

.modal-head{
    width: 100%;
    min-height: 100px;
    border-radius: 5px;
    padding: 8px 5px 0;
}

.modal-head i{
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
}

.modal-head p{
    font-size: 12px;
    text-align: center;
}

.modal-body{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 6px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body button{
    cursor: pointer;
    background: none;
    border: none;
}

.modal-body #btn-prev{
    margin-right: auto;
}

.modal-body #btn-next{
    margin-left: auto;
}

.modal-body button i{
    font-size: 18px;
}